{% extends "base.html" %}

{% block title %}MLM{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<p>{% if let Some(username) = username %}Hi {{ username }}! {% endif %}Welcome to MLM, select a page above</p>

{% if let Some(mam_error) = mam_error %}
<p class=missing>
mam_id is invalid, all features are disabled: {{ mam_error }}
</p>
{% endif %}
{% if has_no_qbits %}
<p class=missing>
no qbittorrent instances configured, all features are disabled
</p>
{% endif %}

<div class="infoboxes">
{% for (i, grab) in config.autograbs.iter().enumerate() %}
<form method=post class="infobox" inline>
  <h2>Autograbber: {{ grab.filter.display_name(*i) }}</h2>
  {% match grab.label %}
    {% when Some(label) %}
      <p><b>Name: {{ label }}</b></p>
    {% when None %}
  {% endmatch %}
  <p>Last run: {% match autograbber_run_at.get(i) %}{% when Some(run_at) %}{{ self::time(run_at) }}{% when None %}never{% endmatch %}
  <button name=action value=run_search>run now</button>
  <input type=hidden name=index value={{ i }}>
  {% if autograbber_run_at.get(i).is_some() %}
  <p>Result: {% match autograbber_result.get(i) %}{% when Some(Ok(())) %}success{% when Some(Err(err)) %}{{ err }}{% when None %}running{% endmatch %}
  {% endif %}
</form>
{% endfor %}
{% for (i, grab) in config.snatchlist.iter().enumerate() %}
<form method=post class="infobox" inline>
  <h2>Snatchlist Grabber: {{ grab.filter.display_name(i + config.autograbs.len()) }}</h2>
  <p>Last run: {% match autograbber_run_at.get(&(i + config.autograbs.len())) %}{% when Some(run_at) %}{{ self::time(run_at) }}{% when None %}never{% endmatch %}
  <button name=action value=run_search>run now</button>
  <input type=hidden name=index value={{ i + config.autograbs.len() }}>
  {% if autograbber_run_at.get(&(i + config.autograbs.len())).is_some() %}
  <p>Result: {% match autograbber_result.get(&(i + config.autograbs.len())) %}{% when Some(Ok(())) %}success{% when Some(Err(err)) %}{{ err }}{% when None %}running{% endmatch %}
  {% endif %}
</form>
{% endfor %}
</div>

<div class="infoboxes">
  {% for (i, list) in lists.iter().enumerate() %}
<form method=post class="infobox" inline>
  <h2>{{ list.list_type() }} Import: {{ list.display_name(*i) }}</h2>
  <p>Last run: {% match import_run_at.get(i) %}{% when Some(run_at) %}{{ self::time(run_at) }}{% when None %}never{% endmatch %}
  <button name=action value=run_import>run now</button>
  <input type=hidden name=index value={{ i }}>
  {% if import_run_at.get(i).is_some() %}
  <p>Result: {% match import_result.get(i) %}{% when Some(Ok(())) %}success{% when Some(Err(err)) %}{{ err }}{% when None %}running{% endmatch %}
  {% endif %}
</form>
{% endfor %}
</div>

<div class="infoboxes">
<form method=post class="infobox" inline>
  <h2>Linker</h2>
  <p>Last run: {% match linker_run_at %}{% when Some(run_at) %}{{ self::time(run_at) }}{% when None %}never{% endmatch %}
  <button name=action value=run_linker>run now</button>
  {% if linker_run_at.is_some() %}
  <p>Result: {% match linker_result %}{% when Some(Ok(())) %}success{% when Some(Err(err)) %}{{ err }}{% when None %}running{% endmatch %}
  {% endif %}
</form>

<form method=post class="infobox" inline>
  <h2>Cleaner</h2>
  <p>Last run: {% match cleaner_run_at %}{% when Some(run_at) %}{{ self::time(run_at) }}{% when None %}never{% endmatch %}
  {% if cleaner_run_at.is_some() %}
  <p>Result: {% match cleaner_result %}{% when Some(Ok(())) %}success{% when Some(Err(err)) %}{{ err }}{% when None %}running{% endmatch %}
  {% endif %}
</form>

<form method=post class="infobox" inline>
  <h2>Torrent downloader</h2>
  <p>Last run: {% match downloader_run_at %}{% when Some(run_at) %}{{ self::time(run_at) }}{% when None %}never{% endmatch %}
  <button name=action value=run_downloader>run now</button>
  {% if downloader_run_at.is_some() %}
  <p>Result: {% match downloader_result %}{% when Some(Ok(())) %}success{% when Some(Err(err)) %}{{ err }}{% when None %}running{% endmatch %}
  {% endif %}
</form>

<form method=post class="infobox" inline>
  <h2>Audiobookshelf Matcher</h2>
  <p>Last run: {% match audiobookshelf_run_at %}{% when Some(run_at) %}{{ self::time(run_at) }}{% when None %}never{% endmatch %}
  <button name=action value=run_abs_matcher>run now</button>
  {% if audiobookshelf_run_at.is_some() %}
  <p>Result: {% match audiobookshelf_result %}{% when Some(Ok(())) %}success{% when Some(Err(err)) %}{{ err }}{% when None %}running{% endmatch %}
  {% endif %}
</form>
</div>

<hr>
<p style="display:flex;align-items:center;gap:0.8ex"><span style="font-size:2em">🏳️‍⚧️</span> Trans Rights are Human Rights</p>

<script>
  const events = new EventSource('/stats-updates')
  events.onmessage = (event) => {
    fetch(location.href).then(r => r.text()).then(html => {
      const parser = new DOMParser()
      const newDocument = parser.parseFromString(html, 'text/html')
      const main = document.querySelector('main')
      main.replaceWith(newDocument.querySelector('main'))
    })
  }
</script>
{% endblock %}
