{% extends "base.html" %}

{% block title %}MLM - Selected Torrents{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<form method=post>
<div class="row">
  <h1>Selected Torrents</h1>
  <div class="actions actions_torrent">
    <button name=action value=remove>unselect for download</button>
    <button name=action value=update>set required unsats to:</button> <input type=number name=unsats value=1>
  </div>
  <div class="table_options">
    <div class="option_group query">
      Columns:
      <div>
      <label>
        Category
        <input type=checkbox name=show {% if show.category %}checked{% endif %} value="category">
      </label>
      <label>
        Flags
        <input type=checkbox name=show {% if show.flags %}checked{% endif %} value="flags">
      </label>
      <label>
        Authors
        <input type=checkbox name=show {% if show.authors %}checked{% endif %} value="author">
      </label>
      <label>
        Narrators
        <input type=checkbox name=show {% if show.narrators %}checked{% endif %} value="narrator">
      </label>
      <label>
        Series
        <input type=checkbox name=show {% if show.series %}checked{% endif %} value="series">
      </label>
      <label>
        Language
        <input type=checkbox name=show {% if show.language %}checked{% endif %} value="language">
      </label>
      <label>
        Size
        <input type=checkbox name=show {% if show.size %}checked{% endif %} value="size">
      </label>
      <label>
        Filetypes
        <input type=checkbox name=show {% if show.filetypes %}checked{% endif %} value="filetype">
      </label>
      <label>
        Grabber
        <input type=checkbox name=show {% if show.grabber %}checked{% endif %} value="grabber">
      </label>
      <label>
        Added At
        <input type=checkbox name=show {% if show.created_at %}checked{% endif %} value="created_at">
      </label>
      <label>
        Started At
        <input type=checkbox name=show {% if show.started_at %}checked{% endif %} value="started_at">
      </label>
      <label>
        Removed At
        <input type=checkbox name=show {% if show.removed_at %}checked{% endif %} value="removed_at">
      </label>
      </div>
    </div>
  </div>
</div>
<p>Torrents that the autograbber has selected and will be downloaded</p>
{% if let Some(user_info) = user_info %}
<p>
  {% if let Some(remaining_buffer) = remaining_buffer %}
  Buffer: {{ remaining_buffer }}<br>
  {% endif %}
  Unsats: {{ user_info.unsat.count }} / {{ user_info.unsat.limit }}<br>
  Wedges: {{ user_info.wedges }}<br>
  Bonus: {{ user_info.seedbonus }}<br>
  {% if !torrents.is_empty() %}
    <br>Queued Torrents: {{ queued() }}
    <br>Downloading Torrents: {{ downloading() }}
  {% endif %}
</p>
{% endif %}
<div class="SelectedTable table2">
<div>
  {{ table_header_all("torrent", 30) }}
  {% if show.category %}
  {{ table_header_s(Some(SelectedPageSort::Kind), "Type", 130) }}
  {% else %}
  {{ table_header_s(Some(SelectedPageSort::Kind), "Type", 84) }}
  {% endif %}
  {{ table_header_if(show.flags, None, "Flags", 60) }}
  {{ table_header_s(Some(SelectedPageSort::Title), "Title", Flex(2, 170)) }}
  {{ table_header_if(show.authors, Some(SelectedPageSort::Authors), "Authors", Flex(1, 130)) }}
  {{ table_header_if(show.narrators, Some(SelectedPageSort::Narrators), "Narrators", Flex(1, 130)) }}
  {{ table_header_if(show.series, Some(SelectedPageSort::Series), "Series", Flex(1, 130)) }}
  {{ table_header_if(show.language, Some(SelectedPageSort::Language), "Language", 100) }}
  {{ table_header_if(show.size, Some(SelectedPageSort::Size), "Size", 80) }}
  {{ table_header_if(show.filetypes, None, "Filetypes", 100) }}
  {{ table_header_s(Some(SelectedPageSort::Cost), "Cost", 80) }}
  {{ table_header_s(Some(SelectedPageSort::Buffer), "Required Unsats", 80) }}
  {{ table_header_if(show.grabber, Some(SelectedPageSort::Grabber), "Grabber", 130) }}
  {{ table_header_if(show.created_at, Some(SelectedPageSort::CreatedAt), "Added At", 157) }}
  {{ table_header_if(show.started_at, Some(SelectedPageSort::StartedAt), "Started At", 157) }}
  {{ table_header_if(show.removed_at, None, "Removed At", 157) }}
  {{ table_header_s(None, "", 44) }}
</div>
<style>
  .SelectedTable {
    {{table2_styles() | safe}}
  }
</style>
{% for torrent in torrents %}
<div>
  <div><input type=checkbox name=torrent value={{torrent.mam_id}}></div>
  <div>
    <span title="{{ torrent.meta.cat_name() }}">{{ item(SelectedPageFilter::Kind, torrent.meta.media_type.as_str()) }}</span>
    {% if show.category %}
    {% if let Some(cat) = torrent.meta.cat %}
    <div>{{ item_v(SelectedPageFilter::Category, torrent.meta.cat_name(), &cat.as_id().to_string()) }}</div>
    {% endif %}
    {% endif %}
  </div>
  {% if show.flags %}
  <div>{{ self::flag_icons(torrent.meta) }}</div>
  {% endif %}
  <div>{{ item(SelectedPageFilter::Title, torrent.meta.title) }}</div>
  {% if show.authors %}
  <div>{{ items(SelectedPageFilter::Author, torrent.meta.authors) }}</div>
  {% endif %}
  {% if show.narrators %}
  <div>{{ items(SelectedPageFilter::Narrator, torrent.meta.narrators) }}</div>
  {% endif %}
  {% if show.series %}
  <div>{{ series(SelectedPageFilter::Series, torrent.meta.series) }}</div>
  {% endif %}
  {% if show.language %}
  <div>{{ item(SelectedPageFilter::Language, torrent.meta.language.map(Language::to_str).unwrap_or_default()) }}</div>
  {% endif %}
  {% if show.size %}
  <div>{{ torrent.meta.size }}</div>
  {% endif %}
  {% if show.filetypes %}
  <div>{{ items(SelectedPageFilter::Filetype, torrent.meta.filetypes) }}</div>
  {% endif %}
  <div>{{ item(SelectedPageFilter::Cost, torrent.cost.as_str()) }}</div>
  <div>{{ torrent.unsat_buffer.unwrap_or(*unsat_buffer) }}</div>
  {% if show.grabber %}
  <div>
    {% if let Some(label) = torrent.grabber_label %}
      {{ item(SelectedPageFilter::Grabber, &label) }}
    {% else if let Some(grabber) = torrent.grabber %}
      {{ item(SelectedPageFilter::Grabber, &grabber) }}
    {% else %}
      -
    {% endif %}
  </div>
  {% endif %}
  {% if show.created_at %}
  <div>{{ self::time(torrent.created_at) }}</div>
  {% endif %}
  {% if show.started_at %}
  <div>
    {% if let Some(started_at) = torrent.started_at %}
      {{ self::time(started_at) }}
    {% endif %}
  </div>
  {% endif %}
  {% if show.removed_at %}
  <div>
    {% if let Some(removed_at) = torrent.removed_at %}
      {{ self::time(removed_at) }}
    {% endif %}
  </div>
  {% endif %}
  <div><a href="https://www.myanonamouse.net/t/{{ torrent.meta.mam_id }}" target=_blank>MaM</a></div>
</div>
{% endfor %}
{% if torrents.is_empty() %}
<p><i>There are currently no torrents selected for downloading</i>
{% endif %}
</div>
</form>
{% endblock %}
